body {
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    
}

#color {
    border-radius: 50px;
    transition: background-color 0.5s ease;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: #6441A4;
    float: left;
    position: relative;
    left: -50%;
}

#color-container {
    float: left;
    position: relative;
    left: 50%;
}

label {
    font-size: 14px;
	font-weight: bold;
}

p {
    margin-top: -11px;
}
.column {
    width: 50%;
    float: left;
}

select {
    width: 90%;
}

input[type=number] {
    width: 70%;
}

input[type=color]:disabled{
    display: none;
}