/* CSS Document */


/* Nav Styles */
nav {
    display: block;
    background: rgb(205,202,251);
	background: linear-gradient(59deg, rgba(34,193,195,1) 29%, rgba(253,187,45,1) 61%);
    position: relative;
    -webkit-box-shadow: 0px 6px 10px 0px #000;
	box-shadow: 0px 6px 10px 0px #000;
}

ul {
	display: inline-block;
}

ul a{
    color: white;
    /* [disabled]padding: 5px; */
    text-decoration: none;
}



/* Page Styles */
body{
	background:  rgba(205,202,251,.6);
	color: black;
}
h1{
	font-weight: bolder;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
}
/* Form Styles */
form {
	padding: 20px;
	background-color: white;
	margin: 15px;
	box-shadow: 0px 6px 10px 0px #000;
    -webkit-box-shadow: 0px 6px 10px 0px #000;
}

label{
	font-size: 16px;
	font-weight: bold;
}

select {
	width: 100%;
}

/* Gallery Pages Layout */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
#login {
    width: 25%;
    margin-left: 35%;
    box-shadow: 0px 6px 10px 0px #000;
    -webkit-box-shadow: 0px 6px 10px 0px #000;
	
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Shopping Cart Styles */

.product_wrapper {
 float:left;
 padding: 10px;
 text-align: center;
 background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 border: 1px solid black;	
 }
.product_wrapper:hover {
 box-shadow: 0 0 0 2px #e5e5e5;
 cursor:pointer;
 }
.product_wrapper .name {
 font-weight:bold;
 }
.product_wrapper .buy {
 text-transform: uppercase;
 background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 border: 1px solid black;
 cursor: pointer;
 color: #000;
 padding: 8px 40px;
 margin-top: 10px;
}

.message_box .box{
 margin: 10px 0px;
 text-align: center;
 font-weight: bold;
 color: #2b772e;
 }
.table td {
 border-bottom: #F0F0F0 1px solid;
 padding: 10px;
 }
.cart_div {
 float:right;
 font-weight:bold;
 position:relative;
 margin-top: 15px;	
 }
.cart_div a {
 color:#000;
 text-decoration: none;
 } 
.cart_div span {
 font-size: 12px;
 line-height: 14px;
 background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 padding: 2px;
 border: 2px solid #fff;
 border-radius: 50%;
 position: absolute;
 top: -1px;
 left: 13px;
 color: #fff;
 width: 20px;
 height: 20px;
 text-align: center;
 }
.cart .remove {
 background: none;
 border: none;
 color: #0067ab;
 cursor: pointer;
 padding: 0px;
 text-decoration: none;	
 }
.cart .remove:hover {
 text-decoration:underline;
 }


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Loginmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 73%;	
}

.Loginmodal-content {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Clock Styles */

.clockGlobalContainer{
	position:relative;
	display:inline-block;
}
.clockContainer{
	position:absolute;
	top:-16px;
	border:2px #4e4e4e outset;
	background-color:#f1f1f1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 5px 5px 2px rgba(30,30,30,0.5);
	-moz-box-shadow: 2px 5px 5px 2px rgba(30,30,30,0.5);
	box-shadow: 2px 5px 5px 2px rgba(30,30,30,0.5);
	padding:10px;
	z-index:10;
	color:#000000;
}
.clockAppendice{
	width:30px;
	height:30px;
	left:40px;
	position:relative;
	background-color:#f1f1f1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left:2px #4e4e4e outset;
	border-top:2px #4e4e4e outset;
	z-index:11;
}
.clockClose{
	position:absolute;
	top:0;
	right:0;
	text-align:center;
	font-size: 100%;
	overflow:hidden;
	cursor:pointer;
}
.clockClose:hover{
	color:#FF0000;
}
.clockLegend{
	position:absolute;
	bottom:0;
	right:0;
	text-align:center;
	font-size: 100%;
	cursor:pointer;
}
.clockLegend:hover{
	color:#1e1e1e;
}
.clockLegend:hover span{
	color:#000000;
	display:block;
	visibility:visible;
}
.clockLegend span{
	display:none;
	visibility:hidden;
	position:absolute;
	top:0;
	right:-2px;
	padding:5px;
	text-align:justify;
	font-size:12px;
	line-height:12px;
	border:2px #4e4e4e outset;
	background-color:#f1f1f1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 5px 5px 2px rgba(30,30,30,0.5);
	-moz-box-shadow: 2px 5px 5px 2px rgba(30,30,30,0.5);
	box-shadow: 2px 5px 5px 2px rgba(30,30,30,0.5);
	zoom: 1;
	filter: alpha(opacity=90);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	opacity: 0.9;
}
.clock{
	height:100%;
	width:100%;
	background-color:#FFFFFF;
	border-radius: 50%;
	border:1px #1e1e1e solid;
	font-family: verdana;
}
.clockCenter,
.hourHand,
.minuteHand{
	position:absolute;
	background-color:#1e1e1e;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.clockCenter{
	height:8%;
	width:8%;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	text-align:center;
	z-index:13;
	cursor:pointer;
}
.changeAMPM{
	height:50%;
	width:50%;
	left:50%;
	top:50%;
	margin-left:-5px;
	margin-top:-5px;
	position:absolute;
	text-align:center;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	z-index:14;
	cursor:pointer;
}
	.changeAMPM span{
		position:absolute;
		width:100%;
		top:15%;
		left:0;
		text-shadow:
			-1px 0 #f1f1f1,
			1px 0 #f1f1f1,
			0 -1px #f1f1f1,
			0 1px #f1f1f1;
		white-space: nowrap;
		overflow: hidden;              
		text-overflow: ellipsis;
	}
.hourHand{
	height: 20%;
	left: 48.5%;
	position: absolute;
	top: 30%;
	width: 3%;
	transform-origin: 50% 100%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	z-index:12;
}
.minuteHand{
	height: 40%;
	left: 49%;
	position: absolute;
	top: 10%;
	transform-origin: 50% 100%;
	width: 2%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index:12;
}
.clockSelected{
	background-color:#f1f1f1!important;
}
.clockHour,
.clockMinutes{
	position:absolute;
	border-radius: 50%;
	text-align:center;
	cursor:pointer;
	background-color:rgba(255,255,255,0.6);
	z-index:13;
}
.clockHour:hover,
.clockMinutes:hover{
	background-color:#1e1e1e!important;
	color:#ffffff!important;
}
.hidden{
	display:none;
	visibility:hidden;
}


/* Footer */
footer{
	font-weight: bold;
	font-style: italic;
	text-align: center;
}


.column {
    float: left;
}

.thirty-three {
	width: 33%;
}

.thirty-seven {
	width: 37.5%;
}

.fifty {
	width: 50%;
}

.twenty-five {
	width: 25%;
}

.seventy-five {
	width: 75%;
}

.ColumnStyles {
	background-color: white;
	padding: 10px;
	box-shadow: 0px 6px 10px 0px #000;
	margin: 15px;
}

.systemControlPic {
	width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
	.ColumnStyles {
		width: 97%;
	}
	
	.systemControlPic {
		width: auto;
	}
}

.systemStyles {
	background: linear-gradient(27deg, rgba(238,174,202,0.8) 0%, rgba(148,187,233,0.8) 100%);
    padding: 10px;
    box-shadow: 0px 6px 10px 0px #000;
    margin: 15px;
    font-weight: bold;
}

input[type=color]:disabled{
    display: none;
}

input[type="color"] {
    width: 50px;
}

input[type="number"] {
    width: 75%;
}



input[type="text"] {
	width: 90%;
}

#login p #Username {
    width: 90%;
}
#login p #Password {
    width: 90%;
}




@media (max-width: 741px){



}

@media (max-width: 547px){

	
	
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

.column {
    width: 100%;
}


}
