/* CSS Document */


/* Nav Styles */
nav {
    display: block;
    background: rgb(205,202,251);
	background: radial-gradient(circle, rgba(205,202,251,1) 0%, rgba(135,7,111,1) 48%, rgba(236,134,91,1) 89%);
    position: relative;
    -webkit-box-shadow: 0px 6px 10px 0px #000;
	box-shadow: 0px 6px 10px 0px #000;
}

ul {
	display: inline-block;
}

ul a{
    color: white;
    /* [disabled]padding: 5px; */
    text-decoration: none;
}



/* Page Styles */
body{
	background:  rgba(205,202,251,.6);
	color: black;
}
h1{
	font-weight: bolder;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
}
/* Form Styles */
form {
	padding: 20px;
	background-color: white;
	margin: 15px;
	box-shadow: 0px 6px 10px 0px #000;
    -webkit-box-shadow: 0px 6px 10px 0px #000;
}

label{
	font-size: 20px;
	font-weight: bold;
}

select {
	width: 100%;
}

/* Gallery Pages Layout */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Shopping Cart Styles */

.product_wrapper {
 float:left;
 padding: 10px;
 text-align: center;
 background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 border: 1px solid black;	
 }
.product_wrapper:hover {
 box-shadow: 0 0 0 2px #e5e5e5;
 cursor:pointer;
 }
.product_wrapper .name {
 font-weight:bold;
 }
.product_wrapper .buy {
 text-transform: uppercase;
 background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 border: 1px solid black;
 cursor: pointer;
 color: #000;
 padding: 8px 40px;
 margin-top: 10px;
}

.message_box .box{
 margin: 10px 0px;
 text-align: center;
 font-weight: bold;
 color: #2b772e;
 }
.table td {
 border-bottom: #F0F0F0 1px solid;
 padding: 10px;
 }
.cart_div {
 float:right;
 font-weight:bold;
 position:relative;
 margin-top: 15px;	
 }
.cart_div a {
 color:#000;
 text-decoration: none;
 } 
.cart_div span {
 font-size: 12px;
 line-height: 14px;
 background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 padding: 2px;
 border: 2px solid #fff;
 border-radius: 50%;
 position: absolute;
 top: -1px;
 left: 13px;
 color: #fff;
 width: 20px;
 height: 20px;
 text-align: center;
 }
.cart .remove {
 background: none;
 border: none;
 color: #0067ab;
 cursor: pointer;
 padding: 0px;
 text-decoration: none;	
 }
.cart .remove:hover {
 text-decoration:underline;
 }


/* Footer */
footer{
	font-weight: bold;
	font-style: italic;
	text-align: center;
}


.column {
    width: 30%;
    float: left;
}
.ColumnStyles {
	background-color: white;
	padding: 10px;
	box-shadow: 0px 6px 10px 0px #000;
	margin: 15px;
}

input:disabled {
	display: none;
}