/* CSS Document */


/* Nav Styles */
nav {
    display: block;
    background: rgb(205,202,251);
	background: radial-gradient(circle, rgba(205,202,251,1) 0%, rgba(135,7,111,1) 48%, rgba(236,134,91,1) 89%);
    position: relative;
    -webkit-box-shadow: 0px 6px 10px 0px #000;
	box-shadow: 0px 6px 10px 0px #000;
}

ul {
	display: inline-block;
}

ul a{
    color: white;
    /* [disabled]padding: 5px; */
    text-decoration: none;
}



/* Page Styles */
body{
	background:  rgba(205,202,251,.6);
	color: black;
}
h1{
	font-weight: bolder;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
}
/* Form Styles */
form {
	padding: 20px;
	background-color: white;
	margin: 15px;
	box-shadow: 0px 6px 10px 0px #000;
    -webkit-box-shadow: 0px 6px 10px 0px #000;
}

label{
	font-size: 20px;
	font-weight: bold;
}

select {
	width: 100%;
}

/* Footer */
footer{
	font-weight: bold;
	font-style: italic;
	text-align: center;
}


.column {
    width: 30%;
    float: left;
}
.ColumnStyles {
	background-color: white;
	padding: 10px;
	box-shadow: 0px 6px 10px 0px #000;
	margin: 15px;
}
